<!doctype html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.css")

        title Jast Agency
    body
        header.main-header
            .main-header__nav
                .main-header__logo
                    a.logo(href="#") Some Logo
                h1.main-header__slogan Hi, we are <span class="main-header__slogan-stress">JAST</span> holding.
                .main-nav__mobile-icon
                    .mobile-icon__line.mobile-icon__line-top
                    .mobile-icon__line.mobile-icon__line-middle
                    .mobile-icon__line.mobile-icon__line-bottom

                .main-menu.main-menu--home
                    ul.main-menu__list
                        li.main-menu__item
                            a.main-menu__link(href="about.html") 01 About us
                        li.main-menu__item
                            a.main-menu__link(href="projects.html") 02 Our projects
                        li.main-menu__item
                            a.main-menu__link(href="partners.html") 03 Partners
                        li.main-menu__item
                            a.main-menu__link(href="contacs.html") 04 Contact Us
